%hidden-block {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--hover-transition);
}

.bonuses-section {
  z-index: var(--z-bonuses-section);
  display: flex;
  align-items: center;
  pointer-events: none;

  @media (orientation: portrait) {
    position: relative;
    justify-content: space-around;
    transform: translateY(50%);
    width: var(--wheel-size-portrait);
  }

  @media (orientation: landscape) {
    position: absolute;
    top: vh(30);
    right: calc(50% + var(--wheel-size-landscape) / 2);
    transform: translateX(-25%);
    flex-direction: column;
    justify-content: center;
  }
}

.bonuses-section__bonus-img {
  --size: #{to-rem(100)};

  @media (orientation: portrait) {
    @include respond-above(small) {
      --size: #{to-rem(120)};
    }
  }

  @media (orientation: landscape) {
    --size: #{vh(23)};

    &:not(:last-child) {
      margin-bottom: to-rem(20);
    }
  }

  img {
    width: var(--size);
    height: var(--size);
  }

  @extend %hidden-block;

  &--first {
    .bonuses-section--visible-first-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }

  &--second {
    .bonuses-section--visible-second-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }
}
