$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-space-battle-blue: #4700a1;
$col-space-battle-blue-rgb: hex-to-rgb($col-space-battle-blue);

$col-rosy-fluffy-bedspread: #d06cff;
$col-rosy-fluffy-bedspread-rgb: hex-to-rgb($col-rosy-fluffy-bedspread);

$col-bright-indigo: #7000ff;
$col-bright-indigo-rgb: hex-to-rgb($col-bright-indigo);

$col-hot-magenta: #ff00c7;
$col-hot-magenta-rgb: hex-to-rgb($col-hot-magenta);
